* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#subtitle1 {
    margin: 25px 0 25px 0;
    text-align: center;
}

#title {
    text-align: center;;
}

#text1 {
    text-indent: 10px;
}