body{
    font-size: 16px;
    text-align: center;
    background-color: blanchedalmond;
}
h1{
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    font-style: oblique;
    line-height: 20px;
    text-decoration: underline;
}
ul{
    background-color: aqua;
}
p{
    font-weight: 600;
    font-size: 3em;
    font-style: italic;
}
.corListaParagrafo{
    color: white;
    background-color: rgb(75, 75, 75);
}
ul{
    text-align: left;
}
#corAmarela{
    color: black;
    background-color: rgb(238, 238, 93);
}
#corVermelho{
    color: black;
    background-color: red;
}
#corMarrom{
    color: black;
    background-color: rgb(129, 76, 11);
}